<%- include('header') %>
<div id="parent">
    <div id="margeGaucheParent">
        <div id="margeGauche"></div>
        <div id="margeGaucheFade"></div>
    </div>
        
    <div id="detailMedoc">
        <% index.forEach(function(user){ %>

            <strong><%= user.medoc_secu %> <%= user.medoc_nom %>  <%= user.medoc_type %> <%= user.medoc_description %> </strong>

        <% }) %>
    </div>
</div>

<%- include('footer') %>