<%- include('header') %>
<div id="parent">
    <div id="margeGaucheParent">
        <div id="margeGauche"></div>
        <div id="margeGaucheFade"></div>
    </div>
        
    <div id="detailClient">
        <table>
            <% index.forEach(function(user){ %>
                
                    <tr>
                        <td>
                            <strong> <%= user.cli_secu %> <%= user.cli_nom %> <%= user.cli_prenom %> <%= user.cli_naissance %> <%= user.cli_mutuelle %></strong>
                        </td>
                    </tr>
               
    
            <% }) %>
        </table>
        </div>
    </div>
</div>

<%- include('footer') %>