<%- include('header') %>
<div id="parent">
    <div id="margeGaucheParent">
        <div id="margeGauche"></div>
        <div id="margeGaucheFade"></div>
    </div>
        
    <div id="listeClients">
        <a href="ajouterClient"><button>Ajouter client</button></a>
        <table>
        <% index.forEach(function(user){ %>
            
                <tr>
                    <td>
                        <strong><a href="/detailClient?cli_Id=<%= user.cli_Id %>"><%= user.cli_nom %> <%= user.cli_prenom %> </a> </strong>
                    </td>
                </tr>
           

        <% }) %>
    </table>
    </div>
</div>

<%- include('footer') %>